<div class="col-md-10 col-md-offset-1">
	<h2 class="text-center">{{showController.project.name}} </h2>
	<div class="text-center"><span class="categories" ng-repeat="category in showController.project.categories">{{ category.name }}<span ng-if="!$last">, </span></span></div>
	<p>{{showController.project.descriptionLong}}</p>
	<img class="project-poster" ng-src="{{showController.project.images.poster}}">
	<p ng-repeat="link in showController.project.links">
		<a ng-href="{{link.url}}" target="_blank">{{link.description}}</a>
	</p> 
</div>

<div  ng-repeat="project in showController.projects"  >
	<div ng-if="project.id != showController.project.id" class="project-footer col-md-2">
		<div class="card grey-card">
			<div class="card-block text-center">
				<a href="#/projects/{{project.title}}"><h5 class="card-title">{{project.name}}</h4></a>
			</div>
		</div>
	</div>
</div>
